h1{
    margin:0 auto;
    color:black;
    padding: 20px 10px;
    font-size: 40px;
}
h2{
    margin: 0 auto;
    padding: 10px;
    color:slateblue;
}
.wrap{
    background-color:rgba(220,220,0,0.3);
    width:auto;
    height:400px;
    text-align: center;
}
ul{
    list-style: none;
}